.main-data-part{
  vertical-align: top;
  background-color: #3f51b547;
}

.main-header{
  width: 100%;
  color:beige;
  background-color: #3F51B5;
  text-align: center;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
  font-size: 22px;
}

#r-status, #y-status, #x-status{
  background-color: red;
  margin-left: 0.2%;
  padding-left: 0.2%;
  color:beige;
  width: 18%;
}

.main-form-variable-part::selection{
  background-color: silver;
}

.form-submit-button:hover {
  background-color: silver;
}

.form-variable-name{
  text-align: center;
  margin-left: 0.2%;
  padding-left: 0.2%;
  padding-right: 0.2%;
  margin-right: 0.3%;
  color:white;
  background-color:#3F51B5;
}

.form-submit-button:hover {
  background-color: silver;
}

.form-submit-button{
  text-align: center;
  margin-left: 0.2%;
  padding-left: 0.2%;
  padding-right: 0.2%;
  margin-bottom: 0.2%;
  margin-top: 0.2%;
  background-color: #5F51B5;
}

.main-form{
  margin-bottom: 1.0%;
}
